<!-- highlight.js (Syntax highlighting for the web) -->
<!-- Original URL: https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='libs/vendor/highlightjs/default.min.css') }}" integrity="sha384-4Y0nObtF3CbKnh+lpzmAVdAMtQXl+ganWiiv73RcGVdRdfVIya8Cao1C8ZsVRRDz" crossorigin="anonymous">
<!-- Original URL: https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js -->
<script src="{{ url_for('static', filename='libs/vendor/highlightjs/highlight.min.js') }}" integrity="sha384-RH2xi4eIQ/gjtbs9fUXM68sLSi99C7ZWBRX1vDrVv6GQXRibxXLbwO2NGZB74MbU" crossorigin="anonymous"></script>
